<!DOCTYPE html>
<html>

<head>
    <title>Редактирование раздачи</title>
    <meta charset="utf-8" />
    <style>
        .edit-form {
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }

        .edit-form h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }

        .edit-form input[type="text"],
        .edit-form input[type="url"],

        .edit-form input[type="number"] {
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .edit-form input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="edit-form">
        <h1>Редактирование раздачи</h1>
        <form action="/edit" method="POST">
            <input type="hidden" name="id" value="{{user.id}}" readonly />
            <label>Имя</label><br>
            <input type="text" name="userName" value="{{user.username}}" /><br><br>
            <label>Инфо раздачи</label><br>
            <input type="text" name="userGiveinfo" value="{{user.giveinfo}}" /><br><br>
            <label>Ссылка на аватар</label><br>
            <input type="url" name="userAvatar" value="{{user.avatar}}" /><br><br>
            <label>Ссылка на профиль</label><br>
            <input type="url" name="userLink" value="{{user.link}}" /><br><br>
            <label>ID</label><br>
            <input type="text" name="userID" value="{{user.userid}}" readonly /><br><br>
            {{!-- <label>Show? 0-скрыть, 1-показать</label><br>
            <input type="number" name="show" value="{{user.showgive}}" min="0" max="1" > --}}
            {{!-- <input type="text" name="userID" value="{{user.userid}}" /><br><br> --}}
            <input type="submit" value="Отправить" />
        </form>
        <a href="/" class="btn btn-secondary">К списку раздач</a>
    </div>
</body>
<html>