<!DOCTYPE html>
<html>

<head>
    <title>Список раздач</title>
    <meta charset="utf-8" />
    <style>
        .list {
                {
                    {
                     !-- width: 300px;
                    --
                }
            }

            margin: 0 auto;
            font-family: Tahoma,
            Geneva,
            sans-serif;
        }

        .list h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }

        .list table {
            color: #4d4d4d;
            border: none;
            border-collapse: collapse;

                {
                    {
                     !-- font-size: 24px;
                    --
                }
            }

                {
                    {
                     !-- padding: 20px 0 20px 0;
                    --
                }
            }

        }

        table td {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            border-top: 1px solid #000;
        }

        .list input[type="text"],
        .list input[type="number"] {
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .list input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff;
            color: #555555;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .navbar {
            padding-top: 15px;
        }

        .navbar-nav li a:hover {
            color: #1abc9c !important;
        }

        .active>a {
            color: #1abc9c !important;
            ;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: -webkit-sticky;
            /* Safari */
            position: sticky;
            top: 0;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }
    </style>
</head>

<body>
    <div class="list">
        <h1>Список раздач</h1>

        <nav class="navbar navbar-default">
            <div class="container">

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="site"><a href="https://insta-give.herokuapp.com/">Вернуться на сайт</a></li>
                        <li id="create"><a href="/create">Добавить раздачу</a></li>
                        <li id="insert"><a href="/insert">Добавить спонсоров вручную</a></li>
                        <li id="getfollowers"><a href="/getfollowers">Парсинг спонсоров</a></li>
                        <li id="followed"><a href="/followed">Просмотр подписанных юзеров</a></li>

                    </ul>
                </div>
            </div>
        </nav>

        {{!-- <p><a href="/create" class="btn btn-secondary">Добавить раздачу</a></p>
        <p><a href="/insert" class="btn btn-secondary">Добавить спонсоров вручную</a></p>
        <p><a href="/getfollowers" class="btn btn-secondary">Парсинг спонсоров</a></p>
        <p><a href="/followed" class="btn btn-secondary">Просмотр подписанных юзеров</a></p>
        <p><a href="https://insta-give.herokuapp.com/" class="btn btn-primary">Вернуться на сайт</a></p> --}}
        <table>
            <tr>
                <th>Username</th>
                <th>Link</th>
                <th>GiveInfo</th>
                <th>Avatar</th>
                <th>UserID</th>

                <th></th>
            </tr>
            {{#each users}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.link}}</td>
                <td>{{this.giveinfo}}</td>
                <td>{{this.avatar}}</td>
                <td>{{this.userid}}</td>

                <td>
                    <a href="/edit/{{this.id}}" class="btn btn-secondary">Редактировать</a>|
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</body>
<html>