<!DOCTYPE html>
<html>

<head>
    <title>Список раздач</title>
    <meta charset="utf-8" />
    <style>
        .list {
                {
                    {
                     !-- width: 300px;
                    --
                }
            }

            margin: 0 auto;
            font-family: Tahoma,
            Geneva,
            sans-serif;
        }

        .list h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }

        .list table {
            color: #4d4d4d;
            border: none;
            border-collapse: collapse;

                {
                    {
                     !-- font-size: 24px;
                    --
                }
            }

                {
                    {
                     !-- padding: 20px 0 20px 0;
                    --
                }
            }

        }

        table td {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            border-top: 1px solid #000;
            /* перенос на новую строку */
            /*white-space: pre-wrap;*/
        }

        .list input[type="text"],
        .list input[type="number"] {
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .list input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff;
            color: #555555;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .navbar {
            padding-top: 15px;
        }

        .navbar-nav li a:hover {
            color: #1abc9c !important;
        }

        .active>a {
            color: #1abc9c !important;
            ;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: -webkit-sticky;
            /* Safari */
            position: sticky;
            top: 0;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }

        .td-giveinfo {
            /* перенос на новую строку */
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    <div class="list">
        <h1>Список раздач</h1>
        
        <nav class="navbar navbar-default">
            <div class="container">

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="site"><a href="http://www.instagive.ga/">Вернуться на сайт</a></li>
                        <li id="create"><a href="/create">Добавить раздачу</a></li>
                        {{!-- <li id="insert"><a href="/insert">Добавить спонсоров вручную</a></li> --}}
                        <li id="getfollowers"><a href="/getfollowers">Парсинг спонсоров</a></li>
                        <li id="followed"><a href="/followed">Просмотр спонсоров</a></li>
                        <li id="offer"><a href="/offer">Предложенные раздачи</a></li>
                        <li id="changeadmin"><a href="/changeadmin">Сменить пароль админа</a></li>
                       
                    </ul>
                </div>
            </div>
        </nav>

        {{!-- <p><a href="/create" class="btn btn-secondary">Добавить раздачу</a></p>
        <p><a href="/insert" class="btn btn-secondary">Добавить спонсоров вручную</a></p>
        <p><a href="/getfollowers" class="btn btn-secondary">Парсинг спонсоров</a></p>
        <p><a href="/followed" class="btn btn-secondary">Просмотр подписанных юзеров</a></p>
        <p><a href="https://insta-give.herokuapp.com/" class="btn btn-primary">Вернуться на сайт</a></p> --}}
        {{!-- <p><button onclick="sortTable()">Sort</button></p> --}}
        <form method="POST" action="/">
            <table id="main" cellspacing="0" width="100%" class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="th-sm"><a href="#" class="sort-by">Username</a></th>

                        <th scope="col" class="th-sm"><a href="#" class="sort-by">GiveInfo</a></th>

                        <th scope="col" class="th-sm"><a href="#" class="sort-by">Active?</a></th>

                        <th scope="col" class="th-sm"><a href="#" class="sort-by">Rating</a></th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td class="td-username"><a href="{{this.link}}">{{this.username}}</a></td>

                        <td class="td-giveinfo">{{this.giveinfo}}</td>


                        {{!-- <td>{{this.show}}</td> --}}
                        <td>
                            <form action="/visible/{{this.id}}" method="POST" style="display:inline;">
                                <input type="submit" value="Показ" />
                            </form>
                            --
                            <form action="/hide/{{this.id}}" method="POST" style="display:inline;">
                                <input type="submit" value="Скрыть" />
                            </form>
                            {{!-- <input type="checkbox" id="checkbox" name="checkbox" value="{{this.show}}"
                                onclick="changeShow()"> --}}
                            {{!-- <label for="scales"></label> --}}
                            <center><label for="scales">{{this.showgive}}</label></center>

                        </td>

                        <td class="td-rating">{{this.rating}}</td>

                        <td>
                            {{!-- <form action="/edit/{{this.id}}" method="POST" style="display:inline;">
                                <input type="submit" value="Редактировать" />
                            </form> --}}
                            {{!-- -- --}}
                            <a href="/edit/{{this.id}}" class="btn btn-secondary">Редактировать</a>

                            <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                                <input type="submit" value="Delete" />
                            </form>
                            --
                            <form action="clearfollowed/{{this.userid}}" method="POST" style="display:inline;">
                                <input type="submit" value="Clear Follows" />
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Username
                        </th>
                        <th>GiveInfo
                        </th>


                        <th>Active?
                        </th>
                    </tr>
                </tfoot>
            </table>
        </form>
        <div>
              <a href="https://metrika.yandex.ru/dashboard?id=65555440" class="btn btn-secondary">Метрика</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>$(document).ready(function () {
            $('#main').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });</script>
    <script>


        function sortTable() {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("main");
            switching = true;
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[0];
                    y = rows[i + 1].getElementsByTagName("TD")[0];
                    //check if the two rows should switch place:
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

        function changeShow() {
            // Get the checkbox
            var checkBox = document.getElementById("checkbox");
            // Get the output text
            var text = document.getElementById("text");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                console.log("Показать")
                checkBox.nodeValue = 1;
            } else {
                console.log("Скрыть")
                checkBox.nodeValue = 0;
            }
        }</script>
</body>
<html>